body {
    background-color: black;
}

nav {
    text-decoration: none;
}

ul {
    display:flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:white
}

#txtBusca {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnBusca {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
