body {
    background-color: rgb(0, 0, 0);
}

nav {
    text-decoration: none;
}

ul {
    display:flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin:10%;
}

a {
    text-decoration: none;
    color:white;

}

#txtBusca {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 188px;
    margin-top:5px;
}

#btnBusca {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    align-items:flex-start;
    gap:40px;
}

img{
    display: flex;
    width: 180px;
    border-radius:5000px;
}

.sidebar{
    width: 200px;
    padding:12px;
    background:white;
    border:1px solid #007bff;
    border-radius:10px;
}

.nav-btn{
    display:block;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 6px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
    cursor: pointer; 
}
.nav-btn:hover {
    background: #f0f0f0;
}